<Project>

  <!--
    Propiedades compartidas por todos los proyectos de {{Solution}}.
    Generado por DotForge IDE ({{Year}}).
  -->
  <PropertyGroup>
    <TargetFramework>{{Framework}}</TargetFramework>
    <LangVersion>latest</LangVersion>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <EnforceCodeStyleInBuild>false</EnforceCodeStyleInBuild>
    <GenerateDocumentationFile>false</GenerateDocumentationFile>
    <InvariantGlobalization>true</InvariantGlobalization>
    <RootNamespace>$(MSBuildProjectName)</RootNamespace>
    <AssemblyName>$(MSBuildProjectName)</AssemblyName>
  </PropertyGroup>

  <PropertyGroup>
    <Product>{{Solution}}</Product>
    <Company>{{Solution}}</Company>
    <Copyright>Copyright (c) {{Year}}</Copyright>
    <Version>1.0.0</Version>
  </PropertyGroup>

</Project>
