<Project Sdk="Microsoft.NET.Sdk">

  <!-- Adaptador CONDUCIDO: implementa el puerto de salida de persistencia con EF Core. -->
  <PropertyGroup>
    <RootNamespace>{{Solution}}.Adapters.Persistence</RootNamespace>
    <AssemblyName>{{Solution}}.Adapters.Persistence</AssemblyName>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore" />
    <!-- Relational aporta ToTable/HasColumnName. Se referencia siempre para que el mapeo
         sea idéntico con SQLite y con el proveedor InMemory de las pruebas. -->
    <PackageReference Include="Microsoft.EntityFrameworkCore.Relational" />
{{#if useSqlite}}
    <PackageReference Include="Microsoft.EntityFrameworkCore.Sqlite" />
{{/if}}
{{#if useInMemory}}
    <PackageReference Include="Microsoft.EntityFrameworkCore.InMemory" />
{{/if}}
    <PackageReference Include="Microsoft.Extensions.Configuration.Abstractions" />
    <PackageReference Include="Microsoft.Extensions.DependencyInjection.Abstractions" />
    <PackageReference Include="Microsoft.Extensions.Logging.Abstractions" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\{{Solution}}.Ports\{{Solution}}.Ports.csproj" />
  </ItemGroup>

</Project>
