<Project Sdk="Microsoft.NET.Sdk">

  <!--
    Capa de Dominio: el núcleo. Reglas de negocio y modelo.
    Regla de oro: este proyecto NO referencia ningún otro proyecto ni paquete de infraestructura.
  -->
  <PropertyGroup>
    <RootNamespace>{{Solution}}.Domain</RootNamespace>
    <AssemblyName>{{Solution}}.Domain</AssemblyName>
  </PropertyGroup>

</Project>
