<Project Sdk="Microsoft.NET.Sdk">

  <!--
    Núcleo del hexágono. Modelo puro: sin EF Core, sin ASP.NET, sin contenedor de dependencias.
    Si algún día este .csproj gana un PackageReference de infraestructura, el hexágono se rompió.
  -->
  <PropertyGroup>
    <RootNamespace>{{Solution}}.Domain</RootNamespace>
    <AssemblyName>{{Solution}}.Domain</AssemblyName>
  </PropertyGroup>

</Project>
