namespace {{Solution}}.Infrastructure.Persistence;

using Microsoft.EntityFrameworkCore;
using {{Solution}}.Domain.{{EntityPlural}};

public sealed class AppDbContext : DbContext
{
    public AppDbContext(DbContextOptions<AppDbContext> options) : base(options)
    {
    }

    public DbSet<{{Entity}}> {{EntityPlural}} => Set<{{Entity}}>();

    protected override void OnModelCreating(ModelBuilder modelBuilder)
    {
        modelBuilder.ApplyConfigurationsFromAssembly(typeof(AppDbContext).Assembly);
        base.OnModelCreating(modelBuilder);
    }
}
