<nav class="sidebar">
    <div class="brand">
        <span class="brand-mark">&lt;/&gt;</span>
        <span class="brand-name">{{Solution}}</span>
    </div>

    <ul class="nav-list">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Inicio</NavLink>
        </li>
        <li>
            <NavLink href="{{entityRoute}}">{{EntityPlural}}</NavLink>
        </li>
    </ul>
</nav>
